@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>@ViewData["email"]</p>
<address>
    <strong>Curso feito na Udemy, site do instrutor:</strong> <a href="http://educandoweb.com.br">Educandoweb.com.br</a>
</address>
